:host {
  display: block;
  height: 100vh;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print {
  :host {
    overflow: visible !important;
    height: auto !important;
  }
}