<div class="layout-component">
  <app-sidebar [class.collapsed]="sidebar_collapsed()"></app-sidebar>

  <div class="header">
    <div class="brand">
      <div class="logo"></div>
      <div class="text">
        <span class="name">TERRA PARTES</span>
        <span class="tagline">ACCESORIOS Y REPUESTOS AUTOMOTRICES ORIGINALES</span>
      </div>
    </div>

    <button class="toggle" (click)="toggle_sidebar()" type="button">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M3 12C3 16.2426 3 18.364 4.31802 19.682C5.63604 21 7.75736 21 12 21M12 3C7.75736 3 5.63604 3 4.31802 4.31802C3.50241 5.13363 3.19151 6.25685 3.073 8"
            stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path>
          <path
            d="M11 21H15C17.8284 21 19.2426 21 20.1213 20.1213C21 19.2426 21 17.8284 21 15V9C21 6.17157 21 4.75736 20.1213 3.87868C19.2426 3 17.8284 3 15 3H11"
            stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-dasharray="2.5 3"></path>
          <path d="M12 22L12 2" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path>
        </g>
      </svg>
    </button>

    <div class="user">
      <div class="info">
        <span class="name">{{ login_service.get_user()?.name }}</span>
        <span class="role">{{ login_service.get_user()?.role?.name }}</span>
      </div>
    </div>

    <button class="logout" type="button" (click)="on_logout()">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path d="M15 12L2 12M2 12L5.5 9M2 12L5.5 15" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round"></path>
          <path
            d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.3531 21.8897 19.1752 21.9862 17 21.9983M9.00195 17C9.01406 19.175 9.11051 20.3529 9.87889 21.1213C10.5202 21.7626 11.4467 21.9359 13 21.9827"
            stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path>
        </g>
      </svg>
    </button>
  </div>

  <main class="main" [class.expanded]="sidebar_collapsed()">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
